<!-- <div class="jumbotron m-0 p-0"> -->
    {{> navbar}}
    <div class="hero">
	<h1 class="header">Source Code Society</h1>
	<h2>The Computer Science Club of Amity University Lucknow.</h2>
	<img class="heroPhoto" src="/images/programmer.jpg">
	<a role="button" href="https://twitter.com/" class="fab fa-lg fa-twitter contactbtn"></a> <a role="button" class="fab fa-lg fa-facebook-f contactbtn"></a> <a role="button" class="fab fa-lg fa-instagram contactbtn"></a> <a role="button" href="mailto:rushan.khan2000@gmail.com" class="fas fa-envelope contactbtn fa-lg"></a>
    </div>
    <!-- </div> -->
